:root {
  --color-yellow: #FFB641;
  --color-red: #B71212;
  --color-red-25: rgba(183, 18, 18, 0.25);
  --color-black: #212121;
  --color-hl-blue: #0041BC;

  --font-serif: 'Zilla Slab', sans-serif;
  --font-mono: Menlo, Consolas, 'Roboto Mono', monospace;
}

*, *:before, *:after {
  box-sizing: border-box;
}

hr {
  border:none;
  height: 2px;
  background: var(--color-red-25);
  margin: 30px 0;
}

html. body {
  margin: 0;
  font-size: 10px;
}

body {
  background: var(--color-yellow);
  color: var(--color-black);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
  max-width: 1004px;
  margin: 0 auto;
}

.header-block {
  text-align: center;
  margin-top: 100px;
  position: relative;
}

.header-block h1 {
  font-family: var(--font-serif);
  font-size: 23px;
  margin: 15px 0 50px;
}

.header-block h1 b {
  font-weight: bold;
  color: var(--color-red);
}

.button {
  display: inline-block;
  min-width: 170px;
  text-align: center;
  padding: 11px;
  border: none;
  border-radius: 3px;
  background: var(--color-red);
  text-decoration: none;
  font-family: var(--font-serif);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.button + .button {
  margin-left: 30px;
}

.explanation {
  margin-top: 70px;
  font-size: 18px;
  max-width: 60%;
  margin: 70px auto 60px;
  line-height: 24px;
}

.explanation b {
  font-weight: bold;
  color: var(--color-red);
}

.sample {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 30px;
}

button[aria-label] {
  display: inline-block;
  width: 180px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: var(--color-red);
}

pre + .example {
  margin-left: 45px;
}

pre {
  display: block;
  flex: 1;
  overflow: hidden;
  max-width: 100%;
}

pre code {
  display: block;
  padding: 15px;
  font-size: 14px;
  font-family: var(--font-mono);
  background: #fff;
  border-radius: 3px;
  overflow: auto;
}

p {
  font-size: 18px;
  line-height: 25px;
}

p code {
  padding: 4px;
  border-radius: 2px;
  background: #fff;
  color: var(--color-hl-blue);
  box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}

.samples p + .sample {
  margin-top: 40px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  font-family: var(--font-serif);
  margin-bottom: 10px;
}

footer {
  margin-top: 50px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-red);
  color: #fff;
}

footer a {
  display: inline-block;
  margin-left: 5px;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid rgba(255,255,255,0.5);
  padding: 2px 0;
}

p + p {
  margin-top: 20px;
}

.css-example {
  margin: 20px 0;
}

.tooltip-red {
  --balloon-color: red;
}

.tooltip-big-text {
  --balloon-font-size: 20px;
}

.tooltip-slide {
  --balloon-move: 100px;
}

.carbon-block {
  position: absolute;
  width: 150px;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 50px;
  padding: 10px;
  background: #F09437;
  border-radius: 3px;
}

.carbon-block .carbon-text {
  font-size: 13px;
  color: var(--color-red);
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.carbon-poweredby {
  font-size: 11px;
  margin-top: 10px;
  display: block;
  color: var(--color-red);
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 10px;
  }
}

@media screen and (max-width: 820px) {
  .container {
    padding: 0 20px;
  }

  .sample {
    flex-direction: column;
  }

  .sample button {
    margin-left: 0;
    margin-top: 20px;
  }

  pre {
    width: 100%;
  }

  .carbon-block {
    position: relative;
    margin: 0 auto;
  }

  .button {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 !important;
    margin-bottom: 20px !important;
  }
  
  footer {
    padding: 10px;
  }
}
