$balloon-bg: fade-out(#101010, 0.05) !default;
$balloon-text-color: #fff !default;
$balloon-font-size: 12px !default;
$balloon-arrow-size: 5px !default;
$balloon-move: 4px !default;
$balloon-border-radius: 2px !default;
